<div *ngIf="contact" class="row">
  <div class="col-md-12">
    <h2 *ngIf="contact._id">Word Detail</h2>
    <h2 *ngIf="!contact._id">New Contact</h2>
  </div>
</div>
<div *ngIf="contact" class="row">
  <form class="col-md-12">

    <div class="form-group">
      <label for="contact-word">Word</label>
      <input class="form-control" name="contact-word" [(ngModel)]="contact.word" placeholder="Word"/>
    </div>
    <div class="form-group">
      <label for="contact-meaning">Meaning</label>
      <input class="form-control" name="contact-meaning" [(ngModel)]="contact.meaning" placeholder="Meaning"/>
    </div>
    <div class="form-group">
      <label for="contact-NG">NG</label>
      <input class="form-control" name="contact-NG" [(ngModel)]="contact.NG" placeholder="ng"/>
    </div>

    <button class="btn btn-primary" *ngIf="!contact._id" (click)="createContact()">Create</button>
    <button class="btn btn-info" *ngIf="contact._id" (click)="updateContact()">Update</button>
    <button class="btn btn-danger" *ngIf="contact._id" (click)="deleteContact()">Delete</button>

    <button class="btn btn-dark" (click)="goBack()">go back</button>
    
  </form>
</div>