<div class="row">
<!--  <div class="col-md-5"> -->
    <h2>Words</h2>
    <ul class="list-group">
      <a class="list-group-item"
        *ngFor="let contact of contacts | slice: (page-1) * pageSize: (page-1) * pageSize + pageSize "
        routerLink="/detail/{{contact.id}}">
        {{contact.word}}
      </a>
    </ul>
  <button class="btn btn-warning" routerLink="/detail">New</button>
  <ngb-pagination [collectionSize]="contacts.length" [(page)]="page" [pageSize]="pageSize" [maxSize]="maxSize" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>

    <!--
    </div>

    <div class="col-md-5 col-md-offset-2">
    <contact-details
      [contact]="selectedContact"
      [createHandler]="addContact"
      [updateHandler]="updateContact"
      [deleteHandler]="deleteContact">
    </contact-details>
    </div>
    -->

</div>